.card-group {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486);
    transition: 50s;
    border-radius: 5px; 
    display: flex;
    display: block;
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 1rem;
    background-color: rgb(39, 39, 39);
}

.card-read {
    text-align: right   ;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
}

  button {
    font-size: 1rem;
    font-weight: 700;
    padding: .2rem;
    text-transform: uppercase;
    border: 0px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: right;
    }

@media screen and (max-width: 48rem) {
    .card-group {
        display: block;
        text-align: center;
        margin-top: 1rem;
        }
    }

